@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500;600;700&display=swap");
/*   font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;    */

/*Basic CSS*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #646464;
  line-height: 1.7;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #212121;
}
.theme-button {
  text-decoration: none;
  background-color: #37806b;
  border-radius: 15px 0px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: 0.3s;
  display: inline-block;
}
.theme-button:hover {
  background-color: #caa892;
  color: #fff;
}
.design-image {
  position: relative;
  z-index: 1;
}
.design-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 20px;
  top: 20px;
  z-index: -1;
  border-radius: 140px 0px;
  border: 2px solid #b0855b;
}
.section-heading h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #646464;
  font-weight: 600;
}
.section-heading h3 {
  font-size: 48px;
}

/*Header area CSS*/
.header-area {
  padding: 30px 0;
}
.header-area .nav-item {
  margin-left: 30px;
}
.header-area .nav-link {
  text-transform: uppercase;
  color: #111111;
  font-weight: 600;
}
.header-area .nav-link.active {
  color: #646464;
}
.header-area .nav-item:last-child {
  margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link {
  background-color: #caa892;
  border-radius: 15px 0px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
}
/*Hero area CSS*/
.hero-area {
  padding: 70px 0;
}
.hero-text h3 {
  font-size: 20px;
  color: #646464;
  text-transform: uppercase;
}
.hero-text h2 {
  font-size: 72px;
  color: #212121;
  text-transform: capitalize;
}
.hero-text a {
  margin-top: 15px;
}
.hero-image img {
  width: 100%;
  border-radius: 140px 0px;
}
/*Service area CSS*/
.service-area {
  padding: 100px 0;
}
.all-services {
  margin-top: 60px;
  position: relative;
}
.singel-service {
  border-radius: 60px 0px;
  background: #fff;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
  padding: 40px 20px 40px 35px;
  transition: 0.3s;
  cursor: pointer;
  display: flex !important;
}
.singel-service:hover {
  background-color: #caa892;
  color: #fff;
}
.singel-service:hover h3 {
  color: #fff;
}
.service-text p {
  margin-bottom: 0;
}
.service-area .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
}
.service-area .owl-nav span {
  height: 30px;
  width: 30px;
  display: inline-block;
  color: #646464;
  background-color: #fff;
  border-radius: 50%;
  border-radius: 30px;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.service-area .owl-nav span:hover {
  background-color: #37806b;
  color: #fff;
}
.service-area .owl-next {
  margin-left: 15px;
}

/*Footer-top area CSS*/
.footer-area {
  background-color: #f8f8f8;
  position: relative;
}
.footer-top {
  padding-top: 90px;
  padding-bottom: 70px;
}
.footer-about img {
  margin-bottom: 18px;
}
.footer-link h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-link ul {
  margin: 0;
  padding: 0;
}
.footer-link ul li {
  list-style: none;
}
.footer-link ul li a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #646464;
  transition: 0.3s;
}
.footer-link ul li a:hover {
  color: #37806b;
}

.footer-link address {
  line-height: 2.2;
}
.footer-link .social-link li {
  display: inline-block;
  margin-right: 10px;
}
.footer-link .social-link li a {
  background-color: #d5d5d5;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff !important;
  transition: 0.3s;
}
.footer-link .social-link li a:hover {
  background-color: #37806b;
}
/*Footer-bottom area CSS*/
.footer-bottom {
  border-top: 1px solid #c4c4c4;
}
.footer-bottom-text a {
  text-decoration: none;
  color: #37806b;
}
.design {
  position: absolute;
  top: -50px;
}
.design img {
  height: 100px;
}

/*Responsive CSS*/
@media (max-width: 991px) {
  /*Header Responsive*/
  .header-area .nav-item {
    margin-left: 0px;
  }
  .header-area .nav-item:last-child {
    text-align: center;
    margin-left: 0px;
  }
  /*Footer-top area Responsive*/
  .footer-top {
    text-align: center;
  }
  .footer-about {
    margin-bottom: 40px;
  }
  .footer-link {
    margin: 40px 0;
  }
  /*Hero area Responsive*/
  .hero-text {
    text-align: center;
  }
  .hero-text h2 {
    font-size: 37px;
    margin-bottom: 7px;
  }
  .hero-area .theme-button {
    margin-bottom: 30px;
  }
  /*Service area Responsive*/
  .section-heading h3,
  h4 {
    text-align: center;
  }
  .section-heading h3 {
    margin-bottom: 20px;
    font-size: 37px;
  }
  .service-area .owl-nav {
    position: initial;
    text-align: center;
    padding-top: 30px;
  }
  .all-services {
    margin: 0;
  }

  /*Footer-bottom area Responsive*/
  .footer-bottom {
    border-top: none;
  }
  .footer-bottom-text {
    padding: 32px 0;
    border-top: 1px solid #c4c4c4;
  }
}
